main {
    background-color: burlywood;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    text-align: center;
    background-color: chocolate;
}

.search button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search input[type="text"],
.search button {
    margin: 5px; /* Add some spacing if needed */
}

button {
    display:block;
    text-align: center;
}

.page1 {
    display: block;
    font-size: 30px;
    max-width: 125px;
    text-align: center;
}